<div class="container" ng-controller="LoginCtrl">

    <form role="form" name="loginForm" ng-submit="login(credentials)" novalidate>
        <h2 class="form-signin-heading">Staffing UI</h2>

        <br>

        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" ng-model="credentials.email" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="credentials.password" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Log In</button>
    </form>

</div>