<div class="container">
    <h2>Titles</h2>

	<ul>
	    <li ng-repeat="title in titles">{{ title.name }} <a ng-click="editTitle(title)">update</a> <a ng-click="deleteTitle(title)">delete</a></li>
	</ul>

	<form role="form" name="createTitleForm" ng-submit="upsertTitle(title)" novalidate>
        <br>
        
        <div class="form-group">
            <label for="title">Name</label>
            <input type="text" class="form-control" id="title" ng-model="title.name" required>
        </div>

        <button type="submit" class="btn btn-primary" ng-disabled="createTitleForm.$invalid">Submit</button>
    </form>
</div>